header{
    background-color: #15a230;
    color: #ffffff;
}
/*
header nav ul li{
    float: left;
    display: block;
}

main article h1{
    text-align: center;
    font-family: "汉仪粗篆繁" sans-serif;
    font-size: 90px;
}
*/
footer{
    border-top: 1px #ccc dashed;
    height: 30px;
    text-align: center;
    color: #000;
    background-color: #f1f1f1;
}
