header{
    background-color: #15a230;
    color: #FFFFFF
}
/*
header nav ul li{
    float: left;
    display: block;
}
*/
main article h1{
    text-align: center;
}
footer{
    border-top-style: dashed;
    height: 30px;
    text-align: center;
    color: #000000;
    background-color: #F1F1F1;
}